@import "./colors";

@mixin title($econdary) {
  color: $econdary;
  font-size: 3rem;
  font-weight: 700;
}

@mixin header($primary) {
  color: $primary;
  font-size: 2.25rem;
  font-weight: 700;
}

@mixin quote($primary) {
  color: $primary;
  font-size: 2.25rem;
  font-weight: 300;
}

@mixin logo($econdary) {
  color: $econdary;
  font-size: 1.5rem;
  font-weight: 500;
}

@mixin text($econdary) {
  color: $econdary;
  font-size: 1.125rem;
  font-weight: 300;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}