html {
  scroll-behavior: smooth;
  width: 1920px;
}

.square {
  background-color: #fff;
  border: 3px solid #3882F6;
  border-radius: 10%;
  width: 13.125rem;
  height: 13.125rem;
}

.col {
  width: 25%;
}